body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,
    "Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.switch input {display:none;}

.content_text {
    scroll-margin-top: 1em;
    text-align: center;
    font-size: 48px;
    margin-left: 0%;
    margin-top: -3%;
    margin-bottom: 6%;
}

.buttons {
    scroll-margin-top: 1em;
    text-align: center;
    margin-top: 2%;
    border-radius: 30px;
}

.blob-btn {
    width: 380px;
}
