body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,
    "Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.name {
    text-align: center;
    font-size: 32px;
    margin-top: -3%;
    margin-left: 7%;
    margin-right: 7%;
}

.text {
    text-align: justify;
    margin-left: 8%;
    margin-top: 4%;
    font-size: 24px;
    text-indent: 6%;
    width: 83%;
    padding: 3%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 50px;
    height: auto;
}

.button_next {
    margin-right: 9%;
}

.button_prev {
    margin-left: 8%;
}

.btns {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
.blob-btn {
    width: 221px;
}
.head {
    text-align: center;
    text-indent: 0%;
    margin-top: 2%;
    margin-bottom: 1%;
}